*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}
h3{
    font-size: 40px;
    line-height: 30px;
    font-weight: 600;
    color: #cd0300;
}
h6{
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 10px;
}
p{
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    font-size: 18px;
}
.container{
    padding: 0 8%;
}
.content{
    padding: 20px 0;
}
.title{
    margin-top: 30px;
    margin-bottom: 30px;
}
.image{
    background-size: cover;
    width: 100%;
    height: 561px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.button {
    padding: 7px 15px;
    border-radius: 10px;
    color: #fff;
    background-color: #cd0300;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
}
.button:hover{
    background-color: #8d0000;
}

hr{
    margin-top: 100px
}


/* Foot */
.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
}
.foo{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.foot li{
    list-style: none;
}
.foot p{
    margin-bottom: 10px;
}
.foot li a {
    color: #000;
}
.social span{
    margin-left: 10px;
}



/* Footer */
footer{
    background-color: #000;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
    margin: auto;
    justify-content: center;
}
footer span, .copy-right{
    font-size: 12px;
}



/* Training system */
.image-training{
    background-image: url('../../assets/img/works/trainingsystem.jpg');
    background-position: center;
}


/* Lamlam */
.image-lamlam{
    background-image: url('../../assets/img/works/lamlam.jpg');
    background-position: center;
}


/* Muse */
.image-muse{
    background-image: url('../../assets/img/works/muse.jpg');
    background-position: center;
}


/* Islamic Center */
.image-islamiccenter{
    background-image: url('../../assets/img/works/islamiccenter.png');
    background-position: center;
}


/* Face Mask */
.image-facemask{
    background-image: url('../../assets/img/works/facemask.png');
    background-position: center;
}


/* E Arsip */
.image-earsip{
    background-image: url('../../assets/img/works/earsip.png');
    background-position: center;
}


@media (max-width: 768px){
    .image-training{
        background-image: url('../../assets/img/works/trainingsystem-tablet.jpg');
        background-position: center;
    }
    .image-lamlam{
        background-image: url('../../assets/img/works/lamlam-tablet.jpg');
        background-position: center;
    }
    .image-islamiccenter{
        background-image: url('../../assets/img/works/islamiccenter-tablet.png');
        background-position: center;
    }
}


@media (max-width: 759px){
    /* Foot */
    .foot{
        flex-direction: column;
        height: 100%;
        padding-bottom: 100px;
    }
    .foo {
        margin-top: 50px;
        width: 100%;
    }
}



@media (max-width: 531px){
    .container{
        padding: 0 8%;
        padding-bottom: 100px;
    }
    .image{
        box-shadow: none;
        border-radius: 0;
    }
    .image-training{
        background-image: url('../../assets/img/works/trainingsystem-hp.jpg');
        background-position: center;
    }
    .image-lamlam{
        background-image: url('../../assets/img/works/lamlam-hp.jpg');
        background-position: center;
    }
    .image-muse{
        background-image: url('../../assets/img/works/muse-hp.jpg');
        background-position: center;
    }


    /* Foot */
    .foo{
        flex-direction: column;
    }
    .foo p{
        margin-top: 30px;
    }
}


/* Phone */
@media (max-width: 425px){
    body {
        position: relative;
    }

    /* Foot */
    .foot img{
        width: 100px;
        height: 100px;
    }
    .foo{
        margin-top: 0;
    }



    /* Footer */
    footer{
        position: absolute;
        bottom: 0;
        flex-direction: column;
        justify-content: center;
    }
    .social-media {
        margin-left: 0;
    }
    .copy-right, .social-media, .product{
        flex-grow: 0;
    }
    .fa-facebook, .fa-whatsapp, .fa-instagram {
        margin-left: 0;
    }
    textarea {
        height: 100px;
    }
}