*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}
h3{
    font-size: 40px;
    line-height: 30px;
    font-weight: 600;
    color: #cd0300;
}
h6{
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 10px;
}
p{
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    font-size: 18px;
}
.container{
    padding: 0 8%;
}
.content{
    padding: 20px 0;
}
.image{
    background-size: cover;
    width: 100%;
    height: 561px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.button {
    padding: 7px 15px;
    border-radius: 10px;
    color: #fff;
    background-color: #cd0300;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    margin-top: 30px;
    margin-right: 10px;
}
.button:hover{
    background-color: #8d0000;
}



/* Training system */
.image-training{
    background-image: url('../../assets/img/works/trainingsystem.jpg');
    background-position: center;
}


/* Lamlam */
.image-lamlam{
    background-image: url('../../assets/img/works/lamlam.jpg');
    background-position: center;
}


/* Muse */
.image-muse{
    background-image: url('../../assets/img/works/muse.jpg');
    background-position: center;
}


/* Islamic Center */
.image-islamiccenter{
    background-image: url('../../assets/img/works/islamiccenter.png');
    background-position: center;
}


/* Face Mask */
.image-facemask{
    background-image: url('../../assets/img/works/facemask.png');
    background-position: center;
}


/* E Arsip */
.image-earsip{
    background-image: url('../../assets/img/works/earsip.png');
    background-position: center;
}


@media (max-width: 768px){
    .image-training{
        background-image: url('../../assets/img/works/trainingsystem-tablet.jpg');
        background-position: center;
    }
    .image-lamlam{
        background-image: url('../../assets/img/works/lamlam-tablet.jpg');
        background-position: center;
    }
    .image-islamiccenter{
        background-image: url('../../assets/img/works/islamiccenter-tablet.png');
        background-position: center;
    }
}



@media (max-width: 531px){
    .container{
        padding: 0;
    }
    .image{
        box-shadow: none;
        border-radius: 0;
    }
    .image-training{
        background-image: url('../../assets/img/works/trainingsystem-hp.jpg');
        background-position: center;
    }
    .image-lamlam{
        background-image: url('../../assets/img/works/lamlam-hp.jpg');
        background-position: center;
    }
    .image-muse{
        background-image: url('../../assets/img/works/muse-hp.jpg');
        background-position: center;
    }
}